body {
    background-color: white;
}

#search-bar {
    margin-right: 150px;
}

#account-dropdown {
    margin-right: 0px;
    background-color: white;
}

#account-dropdown-menu > li{
    margin: 10px 10px 10px 10px;
}
